@font-face {
  font-family: "Outfit";
  src: url("fonts/outfit/Outfit-VariableFont_wght.ttf") format("truetype");
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
}

@font-face {
  font-family: "Outfit-fallback";
  src: local(Arial);
  ascent-override: 100.55%;
  descent-override: 26.14%;
  line-gap-override: 0%;
  size-adjust: 99.45%;
}

@font-face {
  font-family: "YoungSerif";
  src: url("fonts/young-serif/YoungSerif-Regular.ttf") format("truetype");
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "YoungSerif-fallback";
  src: local(Arial);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Outfit", "Outfit-fallback";
}

:root {
  --clr-primary-nutmeg: hsl(14, 45%, 36%);
  --clr-primary-dark-raspberry: hsl(332, 51%, 32%);

  --clr-neutral-white: hsl(0, 0%, 100%);
  --clr-neutral-rose-white: hsl(330, 100%, 98%);
  --clr-neutral-eggshell: hsl(30, 54%, 90%);
  --clr-neutral-light-grey: hsl(30, 18%, 87%);
  --clr-neutral-wenge-brown: hsl(30, 10%, 34%);
  --clr-neutral-dark-charcoal: hsl(24, 5%, 18%);
}
